$hot: #ff0047;

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.examples {
  height: 300px;
  margin: 0;
  position: relative;
  width: 100%;
}

.tip {
  position: absolute;
  background: $hot;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100px;
  height: 40px;
  line-height: 40px;
}

.top-left {
  top: 0;
  left: 0;
}

.top-center {
  top: 0;
  left: calc(50% - 50px);
}

.top-right {
  top: 0;
  right: 0;
}

.left {
  top: calc(50% - 20px);
  left: 0;
}

.center {
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}

.right {
  top: calc(50% - 20px);
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: calc(50% - 50px);
}

.bottom-right {
  bottom: 0;
  right: 0;
}
