html,
body {
  font-family: sans-serif;
  height: 100%;
  background-color: grey;
}

.header {
  padding: 30px;
  background-color: red;
}

.examples {
  margin: 30px, auto;
  max-width: 800px;
  min-width: 600px;
  border-radius: 10px;
  background-color: rgba(#fff, .9);
}

.nav {

}

.footer {

}
