.hot-tip {
  $ht-font-size: 12px !default;
  $ht-pointer-width: 7px !default;
  $ht-pointer-length: 5px !default;
  $ht-background-color: rgba(76, 94, 108, .9) !default;
  $ht-text-color: #f3f6f8 !default;
  $ht-translate-x-left: calc(-100% - #{$ht-pointer-width});

  position: absolute;
  width: 200px;
  pointer-events: none;
  z-index: 999;
  transform-origin: top;

  .pointer {
    border: $ht-pointer-width solid transparent;
    position: absolute;
  }

  .body {
    background-color: $ht-background-color;
    font-weight: 300;
    font-size: $ht-font-size;
    line-height: 1.17;
    max-width: 100%;
    margin-top: $ht-pointer-length;
    color: $ht-text-color;
    padding: 10px;
    border-radius: 2px;
    display: inline-block;
  }

  // top & bottom only
  &.centred {
    margin-left: -100px;
    text-align: center;

    .pointer {
      left: calc(50% - #{$ht-pointer-width});
    }

    .body {
      text-align: center;
    }
  }

  &.left-offset {
    margin-left: -20px;
    text-align: left;

    .pointer {
      left: 15px;
    }

    .body {
      min-width: 30px;
    }
  }

  &.right-offset {
    margin-left: -180px;
    text-align: right;

    .pointer {
      right: 15px;
    }

    .body {
      min-width: 30px;
      text-align: right;
    }
  }

  &.bottom {
    .pointer {
      border-bottom: $ht-pointer-length solid $ht-background-color;
      top: -$ht-pointer-width;
    }
  }

  &.top {
    transform: translateY(calc(-100% - #{$ht-pointer-width}));

    .pointer {
      border-top: $ht-pointer-length solid $ht-background-color;
      bottom: -$ht-pointer-width - $ht-pointer-length;
    }
  }


  // left & right only
  &.mid {
    transform: translateY(-50%);

    &.left {
      transform: translate($ht-translate-x-left, -50%);
    }

    .pointer {
      top: calc(50% - #{$ht-pointer-width});
    }

    .body {
      text-align: center;
    }
  }

  &.top-offset {
    transform: translateY(-20px);

    &.left {
      transform: translate($ht-translate-x-left, -20px);
    }

    .pointer {
      top: 15px;
    }

    .body {
      min-height: 30px;
    }
  }

  &.bottom-offset {
    transform: translateY(calc(-100% + 20px));

    &.left {
      transform: translate($ht-translate-x-left, calc(-100% + 20px));
    }

    .pointer {
      bottom: 15px;
    }

    .body {
      min-height: 30px;
    }
  }

  &.left {
    text-align: right;

    .pointer {
      border-left: $ht-pointer-length solid $ht-background-color;
      right: -$ht-pointer-width - $ht-pointer-length;
    }
  }

  &.right {
    margin-left: $ht-pointer-width;

    .pointer {
      border-right: $ht-pointer-length solid $ht-background-color;
      left: -$ht-pointer-width - $ht-pointer-length;
    }
  }
}
